<a href="https://colab.research.google.com/github/AnantaJoy/EDA/blob/main/Joining%20multiple%20data%20file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
pip install dbfread

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dbfread
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

In [40]:
from dbfread import DBF
import sys
import csv

In [73]:
dbf_data = DBF('/FS_A_19790101.dbf')
dbf_data2 = DBF('/FS_A_19790102.dbf')

In [74]:
from pandas import DataFrame
frame = DataFrame(iter(dbf_data))
frame2 = DataFrame(iter(dbf_data2))

grid_code2 = frame2['grid_code']

In [75]:
frame.head(20)

    pointid  grid_code
0      1268    294.687
1      1266    293.848
2      1265    292.455
3      1264    292.890
4      1263    292.780
5      1259    293.449
6      1260    292.747
7      1261    292.188
8      1262    291.083
9      1253    292.599
10     1254    292.286
11     1255    291.991
12     1256    292.059
13     1257    291.749
14     1258    291.440
15     1246    293.500
16     1247    292.384
17     1248    292.265
18     1249    291.904
19     1250    291.918

In [76]:
frame2.head(20)

    pointid  grid_code
0      1268    294.727
1      1266    293.783
2      1265    292.379
3      1264    292.945
4      1263    292.791
5      1259    293.459
6      1260    292.759
7      1261    292.088
8      1262    290.848
9      1253    292.611
10     1254    292.298
11     1255    291.892
12     1256    291.960
13     1257    291.523
14     1258    291.213
15     1246    293.520
16     1247    292.407
17     1248    292.288
18     1249    291.843
19     1250    291.858

In [79]:
frame['grid_code2'] = grid_code2

In [80]:
frame.head(20)

    pointid  grid_code  grid_code2
0      1268    294.687     294.727
1      1266    293.848     293.783
2      1265    292.455     292.379
3      1264    292.890     292.945
4      1263    292.780     292.791
5      1259    293.449     293.459
6      1260    292.747     292.759
7      1261    292.188     292.088
8      1262    291.083     290.848
9      1253    292.599     292.611
10     1254    292.286     292.298
11     1255    291.991     291.892
12     1256    292.059     291.960
13     1257    291.749     291.523
14     1258    291.440     291.213
15     1246    293.500     293.520
16     1247    292.384     292.407
17     1248    292.265     292.288
18     1249    291.904     291.843
19     1250    291.918     291.858